@use "@/shared/styles/mixins" as *;
@use "@/shared/styles/variables" as *;

.ContactNav {
  display: flex;
  max-width: 1660px;
  margin: 0 auto;
  flex-direction: column-reverse;
  background-color: $primary-background-color;

  @include tablet {
    flex-direction: row;
    align-items: center;
    padding: 30px 20px;
  }

  @include laptop {
    flex-direction: row;
    align-items: center;
    padding: 85px 90px;
  }
}

.navSection {
  flex: 1;
  gap: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet {
    padding: 0;
    gap: 50px;
  }
}

.contactItems {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include tablet {
    gap: 40px;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: $fourth-white-color;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s ease;

  &:hover {
    color: $fourth-white-color;

    .arrowBtn {
      transform: rotate(360deg);
    }
  }
}

.arrowBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $secondary-orange-color;
  color: $primary-background-color;

  border: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;

  .svgIcon {
    width: 28px;
    height: 28px;
    transition: transform 0.3s ease;
  }

  &:hover {
    background-color: $fourth-white-color;
    color: $primary-background-color;
    .svgIcon {
      transform: scale(1.15);
    }
  }

  &:active {
    transform: scale(0.92);
  }
}

.socials {
  display: flex;
  padding-left: 20px;
  gap: 40px;
  margin-top: 20px;

  @include tablet {
    margin-top: 60px;
  }
}

.socialIcon {
  transition: transform 0.3s ease;
  &:hover {
    transform: translateY(-5px);
  }
}

.imgSection {
  display: none;

  @include tablet {
    display: flex;
    flex: 1;
    position: relative;
    min-height: 400px;
    justify-content: flex-end;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 455px;
  aspect-ratio: 455 / 489;

  .photo {
    object-fit: cover;
    filter: brightness(0.9);
  }
}
