@use "@/shared/styles/mixins" as *;
@use "@/shared/styles/variables" as *;

.wrapper {
  width: 100%;
  margin-top: -65px;
  background-color: $primary-background-color;
  color: $fourth-white-color;
  padding: 60px 20px;

  @include tablet {
    padding: 100px 80px;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  @include text-h2;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;

  @include tablet {
    font-size: 72px;
    font-weight: 500;
    margin-bottom: 50px;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include laptop {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 60px;
  }

  @include desktop {
    width: 55%;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.itemTitle {
  font-size: 20px;
  font-weight: 400;
  color: $fourth-white-color;

  @include tablet {
    font-size: 32px;
    line-height: 1.1;
  }
}

.itemContent {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  max-width: 320px;

  @include tablet {
    font-size: 20px;
    line-height: 1.3;
  }
}

.imageWrapper {
  display: none;

  @include desktop {
    display: block;
    position: relative;
    width: 40%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }
}

.photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: contrast(1.1);
}
