@use "@/shared/styles/mixins" as *;
@use "@/shared/styles/variables" as *;

.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: $font-main;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/pages/portfolioHero.png");
  overflow: hidden;

  @media (orientation: landscape) and (max-height: 500px) {
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    min-height: 100svh;
    width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35vh;
    @include tablet {
      background: linear-gradient(
        to top,
        $primary-background-color 0%,
        rgba($primary-background-color, 0.8) 25%,
        rgba($primary-background-color, 0) 100%
      );
    }

    pointer-events: none;
    z-index: 1;
  }
}

.btnWrapper {
  position: absolute;
  right: 30px;
  bottom: 230px;

  @include tablet {
    right: 50px;
  }

  @include laptop {
    right: 50px;
    bottom: 300px;
  }

  @include desktop {
    right: 50px;
    bottom: 420px;
  }
}

.title {
  position: absolute;
  @include text-h1;
  font-size: 40px;

  right: 30px;
  top: 230px;

  @include tablet {
    font-size: 72px;
    left: 50px;
    top: 300px;
  }

  @include laptop {
    font-size: 128px;
    top: 320px;
  }
}
