@use "@/shared/styles/mixins" as *;
@use "@/shared/styles/variables" as *;

.AboutMe {
  padding: 40px 35px 40px 20px;
  background-color: $primary-background-color;
  width: 100%;

  @include tablet {
    padding: 90px 40px;
  }
}

.AboutMeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 90px;
  width: 100%;

  @include tablet {
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }

  @include laptop {
    gap: 80px;
  }
}

.textSection {
  order: 2;
  text-align: center;
  width: 100%;

  @include tablet {
    order: 1;
    flex: 1 1 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.imgSection {
  order: 1;
  width: 100%;

  @include tablet {
    order: 2;
    flex: 1 1 0;
  }
}

.desktopTitle {
  display: none;
  white-space: nowrap;
  @include text-h1;

  @include tablet {
    display: block;
    font-size: 72px;
    font-weight: 500;
  }
}

.mobileTitle {
  display: block;
  font-size: 32px;
  white-space: nowrap;
  @include text-h1;

  font-weight: 500;

  @include tablet {
    display: none;
  }
}

.AboutMeMobileImage {
  width: 50%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;

  @include tablet {
    display: none;
  }
}

.AboutMeDesktopImage {
  display: none;

  @include tablet {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
}

.imageContainer {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-bottom: 20px;

  @include tablet {
    justify-content: flex-start;
    padding-bottom: 55px;
  }
}

.textDescriptionSection {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 12px;
}

.textItem {
  width: 80%;

  @include tablet {
    width: 100%;
  }
}

.textListSection {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    max-width: 580px;
  }
}

.textListTop {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  @include text-main;

  @include tablet {
    padding-left: 60px;
  }
}

.textListBottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 60px;

  @include text-main;

  @include tablet {
    padding: 0;
    margin-top: -25px;
  }
}

.arrowIconRight {
  margin-bottom: -20px;
  display: inline-block;
  transition: transform 0.3s ease;

  &:hover {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
