@use "@/shared/styles/mixins" as *;
@use "@/shared/styles/variables" as *;

.wrapper {
  background-color: $primary-background-color;
  color: $fourth-white-color;
  padding: 60px 20px;
  overflow: hidden;

  @include tablet {
    padding: 100px 80px;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: uppercase;

  @include tablet {
    font-size: 72px;
    margin-bottom: 80px;
  }
}

.contentGrid {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  gap: 30px 10px;
  align-items: center;

  @include tablet {
    grid-template-columns: 1fr auto 1fr;
    gap: 60px 40px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 2;
  grid-column: 1 / 3;

  @include tablet {
    gap: 40px;
  }

  @include laptop {
    gap: 60px;
  }

  h3 {
    color: $red;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;

    @include tablet {
      color: $fourth-white-color;
      font-size: 40px;
    }
  }

  p {
    font-size: 16px;
    line-height: 1.4;
    color: rgba(255, 255, 255, 1);
    max-width: 250px;

    @include tablet {
      font-size: 20px;
      max-width: 350px;
    }
  }

  &:nth-child(2) {
    @media (max-width: 767px) {
      grid-column: 1 / 2;
      max-width: 180px;
    }
  }
}

.imageCenter {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background: radial-gradient(
      circle,
      rgba(255, 68, 0, 0.25) 0%,
      transparent 70%
    );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  @include tablet {
    grid-column: 2;
    grid-row: 1 / 3;

    &::after {
      width: 300px;
      height: 300px;
    }
  }
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 220px;

  position: relative;
  z-index: 2;

  @include tablet {
    max-width: 350px;
  }

  @include laptop {
    max-width: 530px;
  }
}

@include tablet {
  .item {
    grid-column: auto;
  }
  .item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
  .imageCenter {
    grid-column: 2;
    grid-row: 1 / 3;
  }
  .item:nth-child(4) {
    grid-column: 3;
    grid-row: 1;
  }
  .item:nth-child(5) {
    grid-column: 3;
    grid-row: 2;
  }
}
