// Brand core

$primary-red-color: #ff4e2f;
$secondary-orange-color: #ff6e06;
$third-black-color: #000000;
$fourth-white-color: #ffffff;

// Other

$red: #ff0000;

// Background

$primary-background-color: #1c1c1c;
$secondary-background-color: #fff9ed;

// Fonts

$font-main: var(--font-satoshi), sans-serif;

// Font-weight

$fw-black: 900;
$fw-medium: 500;
$fw-regular: 400;

// Font color

$clr-text: $fourth-white-color;
$clr-text2: $primary-red-color;
