@use "@/shared/styles/mixins" as *;
@use "@/shared/styles/variables" as *;

.iconWrapper {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $fourth-white-color;
  border: none;
  cursor: pointer;
  color: $primary-background-color;
  transition: all 0.3s ease;

  .svgIcon {
    transition: transform 0.3s ease;
  }

  &:hover {
    background-color: $primary-background-color;
    color: $fourth-white-color;

    .svgIcon {
      transform: scale(1.1);
    }
  }

  &:active {
    transform: scale(0.95);
  }
}
