@use "@/shared/styles/mixins" as *;
@use "@/shared/styles/variables" as *;

.MyInstagram {
  padding: 120px 20px;
  background-color: $primary-background-color;
  margin: 0 auto;

  @include tablet {
    padding: 120px 30px;
  }
}

.title {
  font-size: 32px;
  @include text-h2;
  font-weight: 500;
  text-transform: uppercase;

  @include laptop {
    font-size: 72px;
  }
}

.imgWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 140px 0 170px 0;

  @include tablet {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 50px 0;
  }
}

.imgItem {
  display: block;
  width: 100%;
  text-decoration: none;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 4px;
    transition:
      transform 0.4s cubic-bezier(0.25, 1, 0.5, 1),
      filter 0.3s ease;
  }

  &:hover img {
    transform: translateY(-15px);
    filter: brightness(1.1);
  }

  &:nth-child(even) {
    transform: translateY(120px);
  }

  @include tablet {
    &:nth-child(even) {
      transform: translateY(0);
    }

    &:nth-child(odd) {
      padding-bottom: 100px;
      padding-top: 0;
    }

    &:nth-child(even) {
      padding-top: 100px;
      padding-bottom: 0;
    }

    &:hover img {
      transform: translateY(-20px);
    }
  }
}

.instImage {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;

  @include tablet {
    display: none;
  }
}
